body{
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    justify-content: space-between;
}

